<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{{ title }}</title>
</head>
<body>

<h3 align="left">{{ title }}</h3>
<br>
<div style="width: 25%;">
<form action='/browse' method='post'>
  <label>
    <input type="checkbox" name="check" value="dbox_enable" {{ dbox_setting }} > Enable Dropbox Sync
  </label>
  <br>
  <br>
  <br>
  <input type="submit" name="submit" style="width: 90%; height: 80px; float: center; font-size: 15px;" value="BACK">
</form>
</div>
<hr>

<div style="font-size:20px">

{% block play %}
{% for i in range(avi_files_number) %}
    <p> {{ i+1 }}) <a target="_blank" href={{ avi_files[i][2] }}>{{ avi_files[i][0] }}</a> (size: {{ avi_files[i][1]}} )</p>
{% endfor %}
{% endblock %}

</div>

<hr>


</body>
</html>
